@using PALUNA.Models;
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/Scripts/CartPayment.js"></script>
<h2 class=""> GIỎ HÀNG <i class="fa fa-shopping-cart"></i></h2>
<br />
<table class="table-hover table-bordered divGioHang">
    <tr style="">
        <th></th>
        <th> Mã SP</th>

        <th> Tên SP</th>

        <th> Ảnh bìa</th>

        <th> Đơn giá</th>

        <th> Số lượng</th>

        <th> Thành tiền</th>
    </tr>



    @foreach (var item in Model)
    {
        <tr class="font-italic detailItem">
            <td> <input pId="@item.iMasp " type="checkbox" /></td>
            <td attrName="iMasp" value="@item.iMasp"> @item.iMasp</td>

            <td attrName="sTensp" value="@item.sTensp"> @item.sTensp</td>

            <td attrName="sAnhBia" value="@item.sAnhBia"> <img src="@Url.Content("~/HinhanhSP/" + item.sAnhBia)" width="50" height="50" /></td>

            <td attrName="dDonGia" value="@item.dDonGia">  @String.Format("{0:0,0}", item.dDonGia) VNĐ</td>

            <td attrName="iSoLuong" value="@item.iSoLuong"> @item.iSoLuong</td>

            <td attrName="ThanhTien" value="@item.ThanhTien">   @String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>


        </tr>

    }



    <tr>
        <td colspan="6" style="text-align:right">

            @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")
        </td>
        <td colspan="6" style="text-align:right;color:blue">
            <input type="button" id="payment-button" modalId="payment-modal" value="Đặt hàng" class="btn-danger" />
            <input type="hidden" id="showModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" />

        </td>
    </tr>
</table>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button id="hide-modal" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Form thông tin thanh toán</h4>
            </div>
            <div class="modal-body">
                <div id="custom-modal-content">
                    @{
                        if (true)
                        {
                            var user = Session["use"] != null ? Session["use"] as Nguoidung : null;
                            <div id="payment-area">
                                <div class="row">
                                    <div class="col-75">
                                        <div class="container">
                                            <form>
                                                <div class="row">
                                                    <div class="col-50" id="userInfor">
                                                        <h3></h3>
                                                        <input class="col-lg-7" attrName="MaNguoiDung" type="hidden" id="fname" name="Name" placeholder="" value="@(user?.MaNguoiDung)">
                                                        <div class="row fieldArea">
                                                            <div class="row">
                                                                <label class="col-lg-3" for="hoten"><i class="fa fa-user"></i> Họ Và Tên</label>
                                                                <input class="col-lg-7" attrName="Hoten" type="text" id="fname" name="Name" validate="required" isRequired="true" placeholder="" value="@(user?.Hoten)">
                                                            </div>

                                                        </div>
                                                        <div class="row fieldArea">
                                                            <div class="row">
                                                                <label class="col-lg-3" for="email"><i class="fa fa-envelope"></i> Email</label>
                                                                <input class="col-lg-7" attrName="Email" type="text" id="email" name="Email" validate="required,email" value="@(user?.Email)">
                                                            </div>


                                                        </div>
                                                        <div class="row fieldArea">
                                                            <div class="row">
                                                                <label class="col-lg-3" for="adr"><i class="fa fa-address-card-o"></i> Địa Chỉ</label>
                                                                <input class="col-lg-7" attrName="Diachi" type="text" id="adr" name="Address" value="@(user?.Diachi)" validate="required">
                                                            </div>
                                                        </div>
                                                        <div class="row fieldArea">
                                                            <div class="row">
                                                                <label class="col-lg-3" for="city"><i class="fa fa-institution"></i>Số điện thoại</label>
                                                                <input validate="required" class="col-lg-7" attrName="Dienthoai" type="text" id="city" name="Numberphone" validate="numberphone" value="@(user?.Dienthoai)">
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <label style="width: 24%;" class="col-lg-3" for="city"></label>
                                                            <input class="col-lg-3 btn"  id="thanhToan" style="margin-right:2%" type="button" value="Thanh Toán">
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-25">
                                        <div class="container">
                                            <h4>
                                                Cart
                                                <span class="price" style="color:black">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    
                                                </span>
                                            </h4>
                                            <div id="listDetailArea">
                                            </div>
                                            <hr>
                                            <p id="totalText">Thành Tiền <span class="price" style="color:black"><b>{{Total}}</b></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>
            <div class="modal-footer">
                <button id="close-modal-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="~/Content/Scripts/form.js"></script>
<script type="text/javascript" src="~/Content/Scripts/Cart.js"></script>
<script type="text/javascript">

</script>
@*Css giỏ hàng*@
<style type="text/css">
    .fieldArea .error.is-invalid {
        display: block;
    }

    .fieldArea .error {
        display: none;
    }

    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large
    }

        .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align: center
        }

        .divGioHang th {
            text-align: center
        }
</style>
<link rel="stylesheet" href="~/Content/Style/paymentForm.css" />
