@model IEnumerable<PALUNA.Models.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý loại sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới loại sản phẩm", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã loại sản phẩm
        </th>
        <th>
            Tên loại sản phẩm
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
        @Html.ActionLink("Thêm mới ", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
