@model IEnumerable<PALUNA.Areas.Admin.Models.ViewModel.OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý đơn hàng</h2>
@if (Model != null && Model.Any())
{
    <table class="table order-list">
        <tr>
            <th>
                Mã đơn
            </th>

            <th>
                Ngày tạo đơn
            </th>
            <th>
                <label class="col-lg-12">Tên người đặt</label>
                <label class="col-lg-12">Địa chỉ người đặt</label>
                <label class="col-lg-12">Số điện thoại</label>
                <label class="col-lg-12">Email</label>
            </th>
            <th>
                <label class="col-lg-12">Tên người nhận</label>
                <label class="col-lg-12">Địa chỉ người nhận</label>
                <label class="col-lg-12">Số điện thoại</label>
                <label class="col-lg-12">Email</label>
            </th>

            <th>
                <h2>Chi tiết đơn</h2>
                <div class="row">
                    <label class="col-lg-4">Tên sản phẩm</label>

                    <label class="col-lg-2">Đơn giá</label>
                    <label class="col-lg-3">Số lượng</label>
                    <label class="col-lg-3">Thành tiền</label>
                </div>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <label class="col-lg-12">@item.Customer.Name</label>
                    <label class="col-lg-12">@item.Customer.Address</label>
                    <label class="col-lg-12">@item.Customer.Phone</label>
                    <label class="col-lg-12">@item.Customer.Email</label>
                </td>

                <td>
                    <label class="col-lg-12">@(item.CustomerDelivery?.Name ?? string.Empty)</label>
                    <label class="col-lg-12">@(item.CustomerDelivery?.Address ?? string.Empty)</label>
                    <label class="col-lg-12">@(item.CustomerDelivery?.Phone ?? string.Empty)</label>
                    <label class="col-lg-12">@(item.CustomerDelivery?.Email ?? string.Empty)</label>
                <td>
                    @{
                        decimal orderPayment = 0;
                        foreach (var detail in item.OrderDetails)
                        {
                            orderPayment += detail.Total;
                            <div class="row">
                                <label class="col-lg-4">@detail.ProductName</label>
                                <label class="col-lg-2">@detail.Price</label>
                                <label class="col-lg-3">@detail.Quantity</label>
                                <label class="col-lg-3">@detail.Total</label>
                            </div>

                        }
                        <div class="row">
                            <label class="col-lg-9" style="text-align: left"></label>
                            <label class="col-lg-3" style="text-align: left">@orderPayment</label>
                        </div>
                    }
                </td>
            </tr>
        }

    </table>
    <style type="text/css">
        .order-list h2 {
            text-align: center;
        }

        .order-list .col-lg-12 {
            display: block;
            height: 12px
        }

        .order-list th {
            max-width: 250px;
        }
    </style>
}
